.data-block .box .column-box{
    display: flex;
    background: #202020;
}

.column-box .column-box-content {
    margin-left: 20px;
    margin-right: 20px;
}

.column-box:first-child .column-box-content {
    margin-left: 0px;
}

.column-box:last-child .column-box-content {
    margin-right: 0px;
}

.column-box .column-box-content .sub-box {
    margin-top: 30px;
    margin-bottom: 30px;
}

.column-box .column-box-content .sub-box:first-child {
    margin-top: 40px;
    margin-bottom: 40px;
}

.column-box .column-box-content .sub-box:last-child {
    margin-bottom: 40px;
}


.column-box .column-box-content:first-child(.sub-box) {
    margin-top: 0px;
}

.column-box .column-box-content:last-child(.sub-box) {
    margin-bottom: 0px;
}