header {
  position: absolute;
  right: 0;
  left: 0;

  display: block;

  box-sizing: border-box;
  width: 100%;
  min-width: 1024px;
  height: 138px;
  padding-bottom: 6px;

  background-color: #333333;
  box-shadow: 0 0 16px #1E1E1E;
}

header .header-inner {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: 132px;

  background-color: #333333;
  box-shadow: 0 0 16px #1E1E1E;
}

header .header-inner .header-inner-container {
  display: flex;
  overflow: hidden;
  align-items: flex-end;

  box-sizing: border-box;
  width: 100%;
  max-width: 2308px;
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 30px;
}

section {
  display: block;
}

section.main {
  box-sizing: border-box;
  height: 100%;
  padding-top: 138px;
}

section.left-side {
  float: left;

  width: 264px;
  padding-top: 41px;
  padding-bottom: 50px;
}

section.right-side {
  margin-left: 264px;
  padding-top: 41px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

section.left-side,
section.right-side {
  box-sizing: border-box;
  height: 100%;
}

section.right-side{
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 0px;
}

.page {
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

page.col-right{
  flex: 1 1 auto;
}
